# macOS
.DS_Store

# web
**/node_modules
Extension/dist/*
Extension/build-firefox/
packaged-extension.zip
extension-source.zip

# safari
**/xcdebugger
Shared\ (Extension)/Resources/dist/
**/xcuserdata
**/*.xcuserstate
